.options {
  margin-bottom: 20px;
  display: flex;
  gap: 5px;
}

.options button {
  padding: 0.2em 0.6em;
  font-size: 1.1em;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.25s, border-color 0.25s;
  outline: none;
  border: 2px solid darkgray;
  background-color: rgba(235, 233, 233, 0.991);
  border-radius: 3px;
}

.options button:hover,
.options button:hover {
  background-color: #e0e0e0;
  border-color: #bbb;
}

.options button:active {
  background-color: #f0f0f0;
  border-color: #aaa;
}